<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top shadow-sm">
  <div class="container-fluid px-4">

    <a class="navbar-brand fw-bold fs-4" href="/listings">
      <i class="fa-solid fa-compass text-danger"></i> WanderLust
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-1 align-items-center">

        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add Listing</a>
        </li>

        <% if (typeof currUser !== 'undefined' && currUser) { %>
          <li class="nav-item">
            <span class="nav-link text-muted">
              <i class="fa-regular fa-circle-user"></i> <%= currUser.username %>
            </span>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-danger btn-sm ms-2" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger btn-sm text-white ms-2" href="/login">Login</a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>
